<a href="https://colab.research.google.com/github/JeffersonCAMarinho/AtividadesIA/blob/main/Trabalho_Pre_Processamento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Questao 1 -> Crie  um  dataframecontendo  apenas  o  seu  tipo  de  imóveis.  Ajuste  os  rótulo  de linhas do dataframe.

import pandas as pd

imovel = pd.read_csv("https://raw.githubusercontent.com/JeffersonCAMarinho/AtividadesIA/main/aluguel.csv", sep= ';')
df = pd.DataFrame(imovel, columns=[ 'Tipo', "Bairro", "Quartos", "Vagas", "Suites", "Area", "Valor", "Condominio", "IPTU"])
boxgaragem = df.loc[imovel["Tipo"] == "Box/Garagem"]

print(boxgaragem)

              Tipo      Bairro  Quartos  Vagas  ...  Area    Valor  Condominio  IPTU
207    Box/Garagem      Tijuca        0      0  ...     0    380.0         NaN   NaN
373    Box/Garagem      Centro        0      1  ...     0    250.0         NaN  85.0
579    Box/Garagem      Centro        0      1  ...     0    100.0         NaN   NaN
885    Box/Garagem  Copacabana        0      9  ...     0    450.0         NaN   NaN
1014   Box/Garagem  Copacabana        0      1  ...     0    450.0         NaN   NaN
...            ...         ...      ...    ...  ...   ...      ...         ...   ...
30863  Box/Garagem      Centro        0      1  ...     4    100.0       331.0  80.0
31175  Box/Garagem      Centro        0      0  ...    15    400.0       345.0   NaN
31646  Box/Garagem      Centro        0      0  ...     0    150.0         NaN   NaN
32625  Box/Garagem  Copacabana        0      1  ...     0    350.0         NaN   NaN
32954  Box/Garagem      Centro        0      0  ...   755  14000.0         NaN   NaN

[82 rows x 9 columns]

In [3]:
#Questao 2 -> Para  o  novo  dataframe,  proponha  5  possíveis  seleções.  Para  cada  seleção proposta, 
#deixe  um  comentário  no  código  explicando  que  o  objetivo  da  seleção. Exemplo: Selecionar pacientes cujo diagnóstico é doente

#selecionar Box/Garagem no centro

Centro = boxgaragem['Bairro'] == 'Centro'
Centro = boxgaragem[Centro]
Centro

#Selecionar Box/Garagem que possuem vagas
Vagas = boxgaragem['Vagas'] != 0
Vagas = boxgaragem[Vagas]
Vagas

#Selecionar Box/Garagem em que o valor seja menor que R$ 200 
Aluguel = boxgaragem['Valor'] < 200
Aluguel = boxgaragem[Aluguel]
Aluguel

#Selecionar Box/Garagem onde valor do Condominio seja menor que R$ 60
Condominio = boxgaragem['Condominio'] <= 60
Condominio = boxgaragem[Condominio]
Condominio

#Selecionar Box/Garagem onde valor acumulado do condominio + IPTU + valor seja menor que R$ 1000

Total = ((boxgaragem["Valor"] + boxgaragem["Condominio"] + boxgaragem["IPTU"]) <= 1000)
Total = boxgaragem[Total]
Total

              Tipo      Bairro  Quartos  Vagas  ...  Area  Valor  Condominio   IPTU
5885   Box/Garagem      Centro        0      1  ...    14  190.0       332.0   86.0
15635  Box/Garagem  Copacabana        0      1  ...    11  480.0       350.0   10.0
26831  Box/Garagem  Copacabana        0      0  ...    11  400.0       350.0  100.0
28691  Box/Garagem      Centro        0      0  ...    17  650.0       159.0   55.0
30863  Box/Garagem      Centro        0      1  ...     4  100.0       331.0   80.0

[5 rows x 9 columns]

In [12]:
#Questao 3 -> Chame  o  método  info()  para  o  novo  dataframe,  para  que  seja  possível  verificar quais  atributos  
#possuem  dados  faltantes.  Para  cada  atributo  com  dados  faltante gere um dataframe para exibi-los (utilize o método isnull()).

boxgaragem.info()

boxgaragem.loc[pd.isnull(boxgaragem['Condominio'])]
boxgaragem.loc[pd.isnull(boxgaragem['IPTU'])]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82 entries, 207 to 32954
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        82 non-null     object
 1   Bairro      82 non-null     object
 2   Quartos     82 non-null     int64
 3   Vagas       82 non-null     int64
 4   Suites      82 non-null     int64
 5   Area        82 non-null     int64
 6   Valor       82 non-null     float64
 7   Condominio  20 non-null     float64
 8   IPTU        26 non-null     float64
dtypes: float64(3), int64(4), object(2)
memory usage: 6.4+ KB

              Tipo                    Bairro  ...  Condominio  IPTU
207    Box/Garagem                    Tijuca  ...         NaN   NaN
579    Box/Garagem                    Centro  ...         NaN   NaN
885    Box/Garagem                Copacabana  ...         NaN   NaN
1014   Box/Garagem                Copacabana  ...         NaN   NaN
1664   Box/Garagem                    Centro  ...       446.0   NaN
1850   Box/Garagem                      Lapa  ...         NaN   NaN
1945   Box/Garagem               Laranjeiras  ...        42.0   NaN
2502   Box/Garagem                    Centro  ...       446.0   NaN
3471   Box/Garagem                Bonsucesso  ...         NaN   NaN
3783   Box/Garagem                    Centro  ...         NaN   NaN
3860   Box/Garagem                    Centro  ...         NaN   NaN
3960   Box/Garagem                    Centro  ...       345.0   NaN
4000   Box/Garagem                    Tijuca  ...         NaN   NaN
4273   Box/Garagem                Copacabana  ...         NaN   NaN
6123   Box/Garagem                    Centro  ...         NaN   NaN
6775   Box/Garagem                    Centro  ...       150.0   NaN
7169   Box/Garagem                    Centro  ...       446.0   NaN
7446   Box/Garagem                    Centro  ...         NaN   NaN
7932   Box/Garagem                     Méier  ...         NaN   NaN
9239   Box/Garagem               Laranjeiras  ...        60.0   NaN
9309   Box/Garagem                   Ipanema  ...         NaN   NaN
9327   Box/Garagem  Recreio dos Bandeirantes  ...         NaN   NaN
9726   Box/Garagem                    Centro  ...         NaN   NaN
10304  Box/Garagem                    Centro  ...       446.0   NaN
10467  Box/Garagem                   Ipanema  ...         NaN   NaN
11488  Box/Garagem                    Centro  ...         NaN   NaN
12056  Box/Garagem                    Centro  ...         NaN   NaN
12118  Box/Garagem                    Centro  ...       130.0   NaN
12229  Box/Garagem                      Lapa  ...         NaN   NaN
12763  Box/Garagem           Barra da Tijuca  ...         NaN   NaN
13970  Box/Garagem                    Centro  ...       446.0   NaN
16270  Box/Garagem              Engenho Novo  ...         NaN   NaN
16518  Box/Garagem           Barra da Tijuca  ...         NaN   NaN
17631  Box/Garagem                    Centro  ...         NaN   NaN
18089  Box/Garagem                    Centro  ...       345.0   NaN
19106  Box/Garagem                Copacabana  ...       260.0   NaN
20296  Box/Garagem                    Centro  ...         NaN   NaN
20805  Box/Garagem           Barra da Tijuca  ...         NaN   NaN
21262  Box/Garagem                    Centro  ...         NaN   NaN
21346  Box/Garagem                    Centro  ...         NaN   NaN
22339  Box/Garagem                Copacabana  ...       460.0   NaN
22351  Box/Garagem                    Centro  ...         NaN   NaN
22559  Box/Garagem                Copacabana  ...         NaN   NaN
23957  Box/Garagem                Copacabana  ...         NaN   NaN
24801  Box/Garagem                    Catete  ...         NaN   NaN
25385  Box/Garagem                    Centro  ...       220.0   NaN
25636  Box/Garagem                    Centro  ...         NaN   NaN
27673  Box/Garagem                    Centro  ...         NaN   NaN
28675  Box/Garagem                    Centro  ...         NaN   NaN
28692  Box/Garagem                    Centro  ...         NaN   NaN
29441  Box/Garagem                    Centro  ...         NaN   NaN
30071  Box/Garagem                    Centro  ...         NaN   NaN
31175  Box/Garagem                    Centro  ...       345.0   NaN
31646  Box/Garagem                    Centro  ...         NaN   NaN
32625  Box/Garagem                Copacabana  ...         NaN   NaN
32954  Box/Garagem                    Centro  ...         NaN   NaN

[56 rows x 9 columns]

In [ ]:
#Questao 4 - > Para cada dado faltante analise se 
#eles podem ser removidos ou preenchidos com algum valor. Trate os dados faltantes e justifique o tratamento feito. 
# Resp. sim, pelo fato de se tratar de precos e como eles nao possuem valores, e possivel substituir pelo valor 0

BGsemNulos = boxgaragem.fillna(0)
print(BGsemNulos)
BGsemNulos

              Tipo      Bairro  Quartos  Vagas  ...  Area    Valor  Condominio  IPTU
207    Box/Garagem      Tijuca        0      0  ...     0    380.0         0.0   0.0
373    Box/Garagem      Centro        0      1  ...     0    250.0         0.0  85.0
579    Box/Garagem      Centro        0      1  ...     0    100.0         0.0   0.0
885    Box/Garagem  Copacabana        0      9  ...     0    450.0         0.0   0.0
1014   Box/Garagem  Copacabana        0      1  ...     0    450.0         0.0   0.0
...            ...         ...      ...    ...  ...   ...      ...         ...   ...
30863  Box/Garagem      Centro        0      1  ...     4    100.0       331.0  80.0
31175  Box/Garagem      Centro        0      0  ...    15    400.0       345.0   0.0
31646  Box/Garagem      Centro        0      0  ...     0    150.0         0.0   0.0
32625  Box/Garagem  Copacabana        0      1  ...     0    350.0         0.0   0.0
32954  Box/Garagem      Centro        0      0  ...   755  14000.0         0.0   0.0

[82 rows x 9 columns]

              Tipo      Bairro  Quartos  Vagas  ...  Area    Valor  Condominio  IPTU
207    Box/Garagem      Tijuca        0      0  ...     0    380.0         0.0   0.0
373    Box/Garagem      Centro        0      1  ...     0    250.0         0.0  85.0
579    Box/Garagem      Centro        0      1  ...     0    100.0         0.0   0.0
885    Box/Garagem  Copacabana        0      9  ...     0    450.0         0.0   0.0
1014   Box/Garagem  Copacabana        0      1  ...     0    450.0         0.0   0.0
...            ...         ...      ...    ...  ...   ...      ...         ...   ...
30863  Box/Garagem      Centro        0      1  ...     4    100.0       331.0  80.0
31175  Box/Garagem      Centro        0      0  ...    15    400.0       345.0   0.0
31646  Box/Garagem      Centro        0      0  ...     0    150.0         0.0   0.0
32625  Box/Garagem  Copacabana        0      1  ...     0    350.0         0.0   0.0
32954  Box/Garagem      Centro        0      0  ...   755  14000.0         0.0   0.0

[82 rows x 9 columns]

In [ ]:
#Questao 5 -> Proponha  2  possíveis  transformações  para  o  dataframe  utilizando  os  métodos apply() e/ou map()

# Valor do Aluguel pela metade do preco 
BGsemNulos['Valor'] = BGsemNulos['Valor'].map(lambda x: x / 2)
#BGsemNulos

# Todos os Locais onde o Bairro for Centro, Sera Escrito Mosela(Bairro onde morava na Cidade de Petropolis)

BGsemNulos['Bairro'] = BGsemNulos['Bairro'].map({'Centro': 'Mosela'}).fillna(BGsemNulos['Bairro'])
BGsemNulos

              Tipo      Bairro  Quartos  Vagas  ...  Area   Valor  Condominio  IPTU
207    Box/Garagem      Tijuca        0      0  ...     0   190.0         0.0   0.0
373    Box/Garagem      Mosela        0      1  ...     0   125.0         0.0  85.0
579    Box/Garagem      Mosela        0      1  ...     0    50.0         0.0   0.0
885    Box/Garagem  Copacabana        0      9  ...     0   225.0         0.0   0.0
1014   Box/Garagem  Copacabana        0      1  ...     0   225.0         0.0   0.0
...            ...         ...      ...    ...  ...   ...     ...         ...   ...
30863  Box/Garagem      Mosela        0      1  ...     4    50.0       331.0  80.0
31175  Box/Garagem      Mosela        0      0  ...    15   200.0       345.0   0.0
31646  Box/Garagem      Mosela        0      0  ...     0    75.0         0.0   0.0
32625  Box/Garagem  Copacabana        0      1  ...     0   175.0         0.0   0.0
32954  Box/Garagem      Mosela        0      0  ...   755  7000.0         0.0   0.0

[82 rows x 9 columns]

In [ ]:
#Questao 6 -> Salve o dataframe final na extensão csv,
#contendo apenas o seu tipo de imóveis, os tratamentos dos dados faltantes e as transformações feitas.

BGsemNulos.to_csv (r'dataframe.csv', index = None, header=True)
#O CSV fica salvo na guia de arquivos

![image.png]()